body {
    margin: 0;
}

/* 전체를 크게 하나로 묶기 */

#container {
    width: 80%;
    height: 100vh;
    margin: auto;
}

/* 헤더부분 css 작업 시작 */
header {
    height: 100px;
    background-color: gray;
    display: flex;
}

#logo {
    width: 20%;
    margin: auto;
    text-align: center;
}

#logo>a {
    text-decoration: none;
    color: black;
}

#logo>a>h1 {
    margin: 0;
    padding: 0;
}

nav {
    width: 80%;
    height: 100px;
}

#topmenu {
    list-style: none;
    margin: 0;
    padding: 0;
    height: 100px;
    margin-left: 50px;
}

#topmenu>li {
    display: inline-block;
    margin-left: 50px;
    height: 100px;
}

#topmenu>li>a {
    font-size: large;
    text-decoration: none;
    color: black;
    line-height: 100px;
}


/* 헤더부분 css 작업 끝 */

/* 메인 css 작업 시작 */